<mat-toolbar color="grey">
    <span class="a" style=" margin-right: auto;"><a mat-icon-button routerLink="/">Smart Cafeteria</a></span>
    
    <span class ="b">
        <a mat-icon-button routerlink="/">Menu</a>
    
    </span>
    <span class ="b">
        <a mat-icon-button routerlink="/"> Current Dining Area</a>
    
    </span>
    <span class= "b">
        <a mat-icon-button routerlink="/">Current Service Area</a>
    </span>

    <span class="b">
        <a *ngIf="!loggedIn" mat-icon-button routerLink="/login">Login</a>
        <a *ngIf= "loggedIn" (click)="logoutUser()" mat-icon-button routerLink="/login">Logout</a>
    </span>
    

</mat-toolbar>
