<div class="bootstrap-wrapper">
    <div class="container mt">

     <div class="row">
<div class="col-md-6 offset-md-3">
    <div class="container text-center">
<img class="img-fluid" style="width: 100px;" src="/assets/smart-cafeteria.png" alt=""/>

    </div>
    <h1 class="text-center">Login Here</h1>
    <!-- Creating Form -->
    <form (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>username</mat-label>
            <input 
            [(ngModel)]="credentials.username"
            name="username"
            required
            type="text" matInput/>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>password</mat-label>
            <input 
            [(ngModel)]="credentials.password"
            name="password"
            required
            type="password" matInput/>
        </mat-form-field>
        <div class ="text-center">
            <button type="submit" mat-raised-button color="warn">Login</button>
            <button style="margin-left:10px;" type="reset" mat-raised-button color="warn">Reset</button>
        </div>

    </form>
</div>
     </div>
    </div>
</div>